<div class="well">
  <h1><%= @form_title %></h1>
  <div class="row">
    <div class="span8 offset2">
      <%= form_for @team, :html => { :class => "form-horizontal"} do |f| %>
        <fieldset class="control-group">
          <%= f.label :title, I18n.t("messages.base.club"), :class => "control-label" %>
          <div class="controls">
            <%= f.select :club_id,
                    options_for_select(Team.get_club_options({ :order_by => :name }) << [I18n.t("messages.base.new_club"), ""]),
                    :class => "span3" %>
          </div>
        </fieldset>

        <fieldset class="control-group">
          <%= f.label :title, I18n.t("messages.base.team_name"), :class => "control-label" %>
          <div class="controls">
            <%= f.text_field :name, :class => "span3" %>
          </div>
        </fieldset>

        <fieldset class="control-group">
          <%= f.label :title, I18n.t("messages.base.short_name"), :class => "control-label" %>
          <div class="controls">
            <%= f.text_field :short_name, :class => "span3" %>
          </div>
        </fieldset>

        <fieldset class="control-group">
          <%= f.label :title, I18n.t("messages.base.shortcut"), :class => "control-label" %>
          <div class="controls">
            <%= f.text_field :shortcut, :class => "span3" %>
          </div>
        </fieldset>

        <fieldset class="control-group">
          <span title="<%= I18n.t("messages.teams.form.logo_title") %>">
            <%= f.label :title, I18n.t("messages.base.logo_of_team"), :class => "control-label" %>
          </span>
          <div class="controls">
            <%= f.hidden_field :logo_cache %>
            <%= f.file_field :logo %>
          </div>
        </fieldset>

        <fieldset class="form-actions">
          <%= f.submit @form_submit, :class => "btn btn-primary" %>
          <%= f.submit I18n.t("messages.base.form.reset"), :type => "reset", :class => "btn" %>
        </fieldset>
      <% end %>
    </div>
  </div>
</div>