<div class="bordered">
  <table class="index">
    <thead>
      <tr>
        <td><%= I18n.t("messages.base.player") %></td>
        <!-- requested to not show team -->
        <!--<td><%= I18n.t("messages.base.team") %></td>-->
        <td><%= I18n.t("messages.base.shirt_number") %></td>
        <td><%= I18n.t("messages.base.position") %></td>
      </tr>
    </thead>
    <tbody>
      <% for player in @players %>
        <tr>
          <td>
            <%= link_to player.get_name_for_list, player %>
            <%= link_to player.cfbu_profile_link, :target => "_blank" do %>
              <span class="icon-list-alt"></span>
            <% end %>
          </td>
          <!--<td><%= player.team_name %></td>-->
          <td><%= player.shirt_number %></td>
          <td><%= player.position_str %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>