<div class="well">
  <h1><%= I18n.t("messages.base.squad_of_" + (@team.is_club ? "club" : "team")) + " " + @team.name %></h1>
  <div class="row-fluid">
    <table class="index">
      <thead>
        <tr>
          <td><%= I18n.t("messages.base.player") %></td>
          <td><%= I18n.t("messages.base.team") %></td>
        </tr>
      </thead>
      <tbody>
        <% for player in @team.squad %>
          <tr>
            <td><%= player.get_name_for_list %></td>
            <td><%= player.team_name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>