<div class="well">
  <h3><%= I18n.t("messages.base.list_of_halls") %></h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= I18n.t("messages.base.name") %></th>
        <th><%= I18n.t("messages.base.actions") %></th>
      </tr>
    </thead>
    <tbody>
      <% for hall in @halls %>
      <tr>
        <td><%= hall.name %></td>
        <td class="btn-group">
          <% if halls_filter("show", { :hall => hall, :user => current_user }) %>
            <%= link_to I18n.t("messages.base.show"), hall, :class => "btn" %>
          <% end %>

          <% if halls_filter("edit", { :hall => hall, :user => current_user }) %>
            <%= link_to I18n.t("messages.base.edit"), edit_hall_path(hall), :class => "btn" %>
          <% end %>

          <% if halls_filter("destroy", { :hall => hall, :user => current_user }) %>
            <%= link_to I18n.t("messages.base.delete"), hall,
                  :confirm => I18n.t("messages.halls.index.delete_confirmation"),
                  :method => :delete,
                  :class => "btn" %>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to I18n.t("messages.halls.index.new_hall"), new_hall_path, :class => "btn" %>
</div>