<div class="well">
  <div class="row-fluid">
    <%= form_for @comment do |f| %>
      <fieldset class="control-group">
        <%= f.label :title, I18n.t("messages.base.title"), :class => "control-label" %>
        <div class="controls">
          <%= f.text_field :title, :class => "span12" %>
        </div>
      </fieldset>
      <fieldset class="control-group">
        <%= f.label :title, I18n.t("messages.base.comment"), :class => "control-label" %>
        <div class="controls">
          <%= f.text_area :content, :class => "span12", :rows => 3 %>
        </div>
      </fieldset>
      <fieldset class="form-actions">
        <%= f.hidden_field :article_id %>
        <%= f.submit I18n.t("messages.articles.show.add_comment"), :class => "btn btn-primary" %>
      </fieldset>
    <% end %>
  </div>
</div>