<div class="well">
  <div class="row-fluid">
    <div class="control-group">
      <h4><%= comment.title %> (<%= link_to comment.user.username, comment.user %>)
      <div class="pull-right">
        <% if comments_filter("new", { :user => current_user, :comment => comment}) %>
          <%= link_to "", react_comment_path(comment), :class => "icon-retweet", :title => I18n.t("messages.articles.show.answer_comment") %>
        <% end %>
        <% if comments_filter("edit", { :user => current_user, :comment => comment}) %>
          <%= link_to "", edit_comment_path(comment), :method => :delete, :class => "icon-edit", :title => I18n.t("messages.articles.show.edit_comment") %>
        <% end %>
        <% if comments_filter("destroy", { :user => current_user, :comment => comment}) %>
          <%= link_to "", comment, :method => :delete, :class => "icon-trash", :title => I18n.t("messages.articles.show.delete_comment") %>
        <% end %>
      </div></h4>
    </div>
  </div>
  <div class="row-fluid">
    <%= comment.content %>
  </div>
  <% if comment.comments.length > 0 %>
  <div class="offset1">
    <div class="row-fluid">
      <% for item in comment.comments %>
        <%= render :partial => 'comment', :locals => {:comment => item} %>
      <% end %>
    </div>
  </div>
  <% end %>
</div>