<div class="well">
  <%= form_for @article, :html => { :class => "form-horizontal"} do |f| %>
    <fieldset class="control-group">
      <%= f.label :title, I18n.t("messages.base.title"), :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :title, :class => "span3" %>
      </div>
    </fieldset>
  
    <fieldset class="control-group">
      <%= f.label :annotation, I18n.t("messages.base.annotation"), :class => "control-label" %>
      <div class="controls">
        <%= f.text_area :annotation, :rows => 3, :class => "" %>
      </div>
    </fieldset>
  
    <div>
      <div>
        <%= I18n.t("messages.base.content") %>
      </div>
      <%= f.cktext_area :content, :rows => 10, :class => "input-xlarge" %>
    </div>

    <fieldset class="form-actions">
      <%= f.submit @form_submit, :class => "btn btn-primary" %>
      <%= f.submit I18n.t("messages.base.form.reset"), :type => "reset", :class => "btn" %>
    </fieldset>
  <% end %>
</div>