<div id="content-controls-player" class="btn-group">
  <div class="btn dropdown-toggle btn-warning" data-toggle="dropdown">
    <%= I18n.t("messages.articles.form.add_player") %>
    <span class="caret"></span>
  </div>
  <ul class="dropdown-menu">
    <% if Player.count > 0 %>
      <% for player in Player.all %>
        <li onclick="add_into_text_area('<a href=\'<%= player_path player %>\'><%= player.get_name_including_nick %></a>', 'article_content')">
          <a href="#content-controls-player"><%= player.get_name_including_nick %></a>
        </li>
      <% end %>
    <% else %>
      <li class="disabled">
        <a href="#content-controls-player"><%= I18n.t("messages.articles.form.no_player") %></a>
      </li>
    <% end %>
  </ul>
</div>

<div id="content-controls-image" class="btn-group">
  <div class="btn dropdown-toggle btn-warning" data-toggle="dropdown">
    <%= I18n.t("messages.base.insert_image") %>
    <span class="caret"></span>
  </div>
  <ul class="dropdown-menu">
    <% if Image.count > 0 %>
      <% for image in Image.order(:logical_folder, :name).all %>
        <li class="dropdown-submenu" onclick="add_into_active_area(
            '<a href=\'<%= image.image_url(:full) %>\'><img src=\'<%= image.image_url(:medium) %>\' /></a>', 'article_content')">
          <a href="#content-controls-image"><%= image.get_full_path %></a>
          <ul class="dropdown-menu">
            <li onclick="add_into_text_area(
                '<a href=\'<%= image.image_url(:tiny) %>\'><img src=\'<%= image.image_url(:tiny) %>\' /></a>', 'article_content')">
              <%= link_to I18n.t("messages.base.image_tiny"), "#content-controls-image" %>
            </li>
            <li onclick="add_into_text_area(
                '<a href=\'<%= image.image_url(:small) %>\'><img src=\'<%= image.image_url(:small) %>\' /></a>', 'article_content')">
              <%= link_to I18n.t("messages.base.image_small"), "#content-controls-image" %>
            </li>
            <li onclick="add_into_text_area(
                '<a href=\'<%= image.image_url(:medium) %>\'><img src=\'<%= image.image_url(:medium) %>\' /></a>', 'article_content')">
              <%= link_to I18n.t("messages.base.image_medium"), "#content-controls-image" %>
            </li>
            <li onclick="add_into_text_area(
                '<a href=\'<%= image.image_url(:full) %>\'><img src=\'<%= image.image_url(:full) %>\' /></a>', 'article_content')">
              <%= link_to I18n.t("messages.base.image_full"), "#content-controls-image" %>
            </li>
          </ul>
        </li>
      <% end %>
    <% else %>
      <li class="disabled">
        <a href="#article_content"><%= I18n.t("messages.articles.form.no_images") %></a>
      </li>
    <% end %>
  </ul>
</div>