<% if @articles %>
  <% for article in @articles %>
    <div class="article">
      <%= image_tag (article.image_url != nil ? article.image_url : "TODO nacitani defaultniho obrazku"), :alt => "TODO" %>
      <div class="title">
          <%= article.title %>
      </div>
      <div class="content">
        <%= article.annotation %>
        <%#= TODO doladit tuhle funkci, aby neusekavala text uvnitr tagu a pak aktivovat article.get_annotation %>
      </div>
      <div class="footer">
        <%= I18n.t("messages.base.author") %>: <%= link_to article.user.username, article.user %> |
        <%= I18n.t("messages.base.published") %>: <%= I18n.l article.created_at %> |
        <%= I18n.t("messages.base.comments_count") %>: <%= article.comments.count %> |
        <%= link_to I18n.t("messages.articles.list.show_article"), article %>
      </div>
    </div>
  <% end %>
<% end %>