<% if @articles %>
  <% for article in @articles %>
    <div class="article" data-link="<%= article_url(article) %>">
      <%= image_tag article.get_image_or_default_url(:small), :alt => I18n.t("messages.base.image") %>
      <div class="title">
          <%= article.title %>
      </div>
      <div class="content">
        <%= article.get_annotation.html_safe %>
        <%#= TODO doladit tuhle funkci, aby neusekavala text uvnitr tagu a pak aktivovat article.get_annotation %>
      </div>
      <div class="footer">
        <%= I18n.t("messages.base.author") %>: <%= article.user.username %> |
        <%= I18n.t("messages.base.published") %>: <%= I18n.l article.created_at %> |
        <%= I18n.t("messages.base.comments_count") %>: <%= article.comments.count %> |
        <%= I18n.t("messages.base.rating") %>: <%= article.get_average_mark_str %>
      </div>
    </div>
  <% end %>
<% end %>