<div class="well">
  <h1><%= @article.title %></h1>
  <%= @article.content.html_safe %>
  <div class="footer">
    <%= I18n.t("messages.base.author") %>: <%= link_to @article.user.username, @article.user %>
    | <%= I18n.t("messages.base.published") %>: <%= I18n.l @article.created_at %>
    <% if articles_filter("edit", { :user => current_user, :article => @article }) %>
      | <%= link_to I18n.t("messages.base.edit"), edit_article_path(@article) %>
    <% end %>
    <% if articles_filter("destroy", { :user => current_user, :article => @article }) %>
      | <%= link_to I18n.t("messages.base.delete"), @article, :method => :delete, :confirm => I18n.t("messages.articles.show.delete_confirmation") %>
    <% end %>
  </div>
</div>

<% if comments_filter("show", { :user => current_user, :article => @article}) && @article.comments.count > 0 %>
  <div class="well">
    <h1><%= I18n.t("messages.articles.show.comments") %></h1>
    <div class="row-fluid">
      <% for comment in @article.comments.where(:comment_id => nil).order(COMMENTS_ORDER).all %>
        <%= render :partial => 'comment', :locals => {:comment => comment} %>
      <% end %>
    </div>
  </div>
<%  end %>

<% if comments_filter("create", { :user => current_user, :article => @article}) %>
  <div class="well">
    <h1><%= I18n.t("messages.articles.show.new_comment") %></h1>
    <div class="row-fluid">
      <%= form_for @comment do |f| %>
        <fieldset class="control-group">
          <%= f.label :title, I18n.t("messages.base.title"), :class => "control-label" %>
          <div class="controls">
            <%= f.text_field :title, :class => "span12" %>
          </div>
        </fieldset>
        <fieldset class="control-group">
          <%= f.label :title, I18n.t("messages.base.comment"), :class => "control-label" %>
          <div class="controls">
            <%= f.text_area :content, :class => "span12", :rows => 3 %>
          </div>
        </fieldset>
        <fieldset class="form-actions">
          <%= f.hidden_field :article_id %>
          <%= f.submit I18n.t("messages.articles.show.add_comment"), :class => "btn btn-primary" %>
        </fieldset>
      <% end %>
    </div>
  </div>
<% end %>