<div class="article detail">
  <div class="title">
    <%= @article.title %>
  </div>
  
  <div class="content">
    <%= @article.content.html_safe %>
  </div>
  
  <% if comments_filter("show", { :user => current_user, :article => @article}) && @article.comments.count > 0 %>
    <div class="comments">
      <% for comment in @article.comments.where(:comment_id => nil).order(COMMENTS_ORDER).all %>
        <%= render :partial => 'comment', :locals => {:comment => comment} %>
      <% end %>
    </div>
  <% end %>
  
  <% if comments_filter("create", { :user => current_user, :article => @article}) %>
    <div class="new-comment">
      <%= form_for @comment do |f| %>
        <%= f.text_field :title %>
        <%= f.text_area :content, :rows => 3 %>
        <%= f.hidden_field :article_id %>
        <%= f.submit I18n.t("messages.articles.show.add_comment"), :class => "btn btn-primary" %>
      <% end %>
    </div>
  <% end %>
  
  <div class="footer">
    <%= I18n.t("messages.base.author") %>: <%= link_to @article.user.username, @article.user %>
    | <%= I18n.t("messages.base.published") %>: <%= I18n.l @article.created_at %>
    <% if articles_filter("edit", { :user => current_user, :article => @article }) %>
      | <%= link_to I18n.t("messages.base.edit"), edit_article_path(@article) %>
    <% end %>
    <% if articles_filter("destroy", { :user => current_user, :article => @article }) %>
      | <%= link_to I18n.t("messages.base.delete"), @article, :method => :delete, :confirm => I18n.t("messages.articles.show.delete_confirmation") %>
    <% end %>
  </div>
</div>
