<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">Florbal Sedlčany</a>
      <ul class="nav">
        <li>
          <div class="btn-toolbar">
            <% if current_user %>
              <div class="btn-group">
                <a class="btn btn-warning" href="<%= current_user_url %>">
                  <span class="icon-user"></span>
                  <%= current_user.username %>
                </a>
                <div class="btn dropdown-toggle btn-warning" data-toggle="dropdown">
                  <span class="caret"></span>
                </div>
                <ul class="dropdown-menu">
                  <li>
                    <%= link_to I18n.t("messages.templates.menu.edit_user"), edit_user_path(current_user) %>
                  </li>
                  <li>
                    <%= link_to I18n.t("messages.base.change_password"), "/users/#{current_user.id}/change_password" %>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <%= link_to I18n.t("messages.base.logout"), "/" %>
                  </li>
                </ul>
              </div>
            <% end %>

            <div class="btn-group">
              <%= link_to I18n.t("messages.base.articles"), "/articles/newest", :class => "btn btn-warning" %>
              <div class="btn dropdown-toggle btn-warning" data-toggle="dropdown">
                <span class="caret"></span>
              </div>
              <ul class="dropdown-menu">
                <li>
                  <%= link_to I18n.t("messages.templates.menu.newest"), "/articles/newest" %>
                </li>
                <li class="disabled">
                  <%= link_to I18n.t("messages.templates.menu.best"), "#" %>
                  <%#= link_to I18n.t("messages.templates.menu.best"), "/articles/best" TODO %>
                </li>
                <li>
                  <%= link_to I18n.t("messages.templates.menu.most_commented"), "/articles/most_commented" %>
                </li>
                <li class="divider"></li>
                <li>
                  <%= link_to I18n.t("messages.base.search"), "/" %>
                </li>
              </ul>
            </div>

            <div class="btn-group">
              <%= link_to I18n.t("messages.base.team"), "/teams/squad", :class => "btn btn-warning" %>
              <div class="btn dropdown-toggle btn-warning" data-toggle="dropdown">
                <span class="caret"></span>
              </div>
              <ul class="dropdown-menu">
                <li>
                  <%= link_to I18n.t("messages.templates.menu.about"), about_url %>
                </li>
                <li>
                  <%= link_to I18n.t("messages.base.squad"), squad_url %>
                </li>
                <li>
                  <%= link_to I18n.t("messages.base.matches"), "/teams/matches" %>
                </li>
              </ul>
            </div>

            <% menu = get_admin_menu_structure %>
            <% if menu %>
              <div class="btn-group">
                <div class="btn btn-warning" data-toggle="dropdown">
                  <%= I18n.t("messages.templates.menu.admin_zone") %>
                </div>
                <div class="btn dropdown-toggle btn-warning" data-toggle="dropdown">
                  <span class="caret"></span>
                </div>
                <ul class="dropdown-menu">
                  <% menu[:structure].keys.each do |key| %>
                    <li class="dropdown-submenu">
                      <%= link_to menu[:messages][key], "#", :tabindex => -1 %>
                      <ul class="dropdown-menu">
                        <% if menu[:structure][key].length > 0 %>
                          <% for item in menu[:structure][key] %>
                            <% if item == nil %>
                              <li class="divider"></li>
                            <% else %>
                              <li>
                                <%= item %>
                              </li>
                            <% end %>
                          <% end %>
                        <% else %>
                          <li class="disabled">
                            <a href="#"><%= I18n.t("messages.base.no_possible_actions") %></a>
                          </li>
                        <% end %>
                      </ul>
                    </li>
                  <% end %>
                </ul>
              </div>
            <% end %>
          </div>
        </li>
      </ul>
      <div class="pull-right">
        <% if current_user %>
          <%= link_to I18n.t("messages.base.logout"), logout_url, :class => "btn" %>
        <% else %>
          <%= link_to I18n.t("messages.base.register"), register_url, :class => "btn" %>
          <div class="btn-group">
            <a class="btn" href="#login" role="button" data-toggle="modal">
              <%= I18n.t("messages.base.login") %>
            </a>
            <%#= link_to image_tag(asset_path("twitter_icon.jpg")), auth_at_provider_path(:provider => :twitter), :class => "btn", :title => I18n.t("messages.base.login_via_twitter") %>
            <%= link_to image_tag(asset_path("facebook_icon.jpg")), auth_at_provider_path(:provider => :facebook), :class => "btn", :title => I18n.t("messages.base.login_via_facebook") %>
          </div>
        <% end %>
      </div>
      <div class="nav-collapse collapse"><!-- hidden when 940px or less --></div>
    </div>
  </div>
</div>