<div class="bordered-form">
  <%= form_for @user, :html => { :class => "form-horizontal"} do |f| %>
    <fieldset class="control-group">
      <%= label_tag :title, I18n.t("messages.base.username"), :class => "control-label", :disabled => true %>
      <div class="controls">
        <input type="text" value="<%= @user.username %>" class="span3" />
      </div>
    </fieldset>

    <fieldset class="control-group">
      <%= label_tag :title, I18n.t("messages.base.email"), :class => "control-label", :disabled => true %>
      <div class="controls">
        <input type="text" value="<%= @user.email %>" class="span3" />
      </div>
    </fieldset>

    <fieldset class="control-group">
      <%= f.label :title, I18n.t("messages.base.first_name"), :class => "control-label" %>
      <div class="controls">
        <%= f.password_field :first_name, :class => "span3" %>
      </div>
    </fieldset>

    <fieldset class="control-group">
      <%= f.label :title, I18n.t("messages.base.second_name"), :class => "control-label" %>
      <div class="controls">
        <%= f.password_field :second_name, :class => "span3" %>
      </div>
    </fieldset>

    <% if users_filter("edit_role", { :entity => @user, :user => current_user }) %>
      <fieldset class="control-group">
        <%= f.label :title, I18n.t("messages.base.role"), :class => "control-label" %>
        <div class="controls roles">
          <% for role in ROLES %>
            <div class="role">
              <%= f.check_box :role, {:multiple => true, :checked => @user.role.include?(role.to_s)}, role, nil %>&nbsp;<%= I18n.t(ROLE_MESSAGES[role.to_s]) %>
            </div>
          <% end %>
        </div>
      </fieldset>
    <% end %>

    <fieldset class="form-actions">
      <%= f.submit I18n.t("messages.users.edit.update"), :class => "btn btn-primary" %>
      <%= f.submit I18n.t("messages.base.form.reset"), :type => "reset", :class => "btn" %>
    </fieldset>
  <% end %>
</div>
  
  <% if users_filter("block", { :user => current_user, :entity => @user } ) %>
    <div class="bordered-form">
      <%= form_for @user, :url => { :action => "block", :id => @user.id }, :method => :post, :html => { :class => "form-horizontal" } do |f| %>
        <fieldset class="control-group">
          <%= label_tag :block_expires_at, I18n.t("messages.base.block_until"), :class => "control-label" %>
          <div class="controls input-append date" data-behaviour="datepicker">
            <%= f.text_field :block_expires_at_date, :value => "", :class => "span2" %><span class="add-on"><i class="icon-th"></i></span>
          </div>
          <div class='input-append bootstrap-timepicker'>
            <%= f.text_field :block_expires_at_time, :class => "input-small", :value => "", "data-behaviour" => "timepicker" %>
            <span class='add-on'><i class='icon-time'></i></span>
          </div> 
        </fieldset>
        <fieldset class="form-actions">
          <%= f.submit I18n.t("messages.base.block"), :class => "btn btn-primary" %>
        </fieldset>
      <% end %>
    </div>
  <% end %>

  <% if users_filter("unblock", { :user => current_user, :entity => @user } ) %>
    <div class="bordered-form">
      <%= form_for @user, :url => { :action => "unblock", :id => @user.id }, :method => :post, :html => { :class => "form-horizontal" } do |f| %>
        <div class="centered">
          <%= @user.get_block_state_str() %>
        </div>
        <fieldset class="form-actions">
          <%= f.submit I18n.t("messages.base.unblock"), :class => "btn btn-primary" %>
        </fieldset>
      <% end %>
    </div>
  <% end %>