<div class="well">
  <h1><%= I18n.t("messages.users.index.title") %></h1>
  <div class="row-fluid">
    <table>
      <thead>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <% for user in User.all %>
          <tr>
            <td><%= user.id %></td>
            <td><%= user.username %></td>
            <td><%= user.email %></td>
            <td><%= user.activation_state %></td>
            <td><%#= user.crypted_password %></td>
            <td><%#= user.salt %></td>
            <td><%= user.first_name %></td>
            <td><%= user.second_name %></td>
            <td class="btn-group">
              <div class="btn" data-toggle="dropdown">
                <%= I18n.t("messages.base.actions") %>
              </div>
              <div class="btn dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
              </div>
              <ul class="dropdown-menu">
                <li>
                  <%= link_to I18n.t("messages.base.show"), user %>
                </li>
                <li>
                  <%= link_to I18n.t("messages.base.edit"), edit_user_path(user) %>
                </li>
                <li>
                  <%= link_to I18n.t("messages.base.activate"), "/users/#{user.id}/activate" %>
                </li>
                <li>
                  <%= link_to I18n.t("messages.base.block"), "/users/#{user.id}/block" %>
                </li>
                <li>
                  <%= link_to I18n.t("messages.base.delete"), user, :method => :delete %>
                </li>
              </ul>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>