<div class="well">
  <h1><%= I18n.t("messages.base.list_of_users") %></h1>
  <div class="row-fluid">
    <table class="index">
      <thead>
        <tr>
          <td><%= I18n.t("messages.base.id") %></td>
          <td><%= I18n.t("messages.base.username") %></td>
          <td><%= I18n.t("messages.base.email") %></td>
          <td><%= I18n.t("messages.base.status") %></td>
          <td><%= I18n.t("messages.base.first_name") %></td>
          <td><%= I18n.t("messages.base.second_name") %></td>
          <td class="btn-group">&nbsp;</td>
        </tr>
      </thead>
      <tbody>
        <% for user in User.all %>
          <tr>
            <td><%= user.id %></td>
            <td><%= user.username %></td>
            <td><%= user.email %></td>
            <td>
              <%= I18n.t("messages.activation_states."+user.activation_state) %>
              <% if user.is_blocked %>
                , <%= I18n.t("messages.base.blocked") %>
              <% end %>
            </td>
            <td><%= user.first_name %></td>
            <td><%= user.second_name %></td>
            <td class="btn-group">
              <span class="btn" data-toggle="dropdown">
                <%= I18n.t("messages.base.actions") %>
              </span>
              <span class="btn dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
              </span>
              <ul class="dropdown-menu">
                <li>
                  <%= link_to I18n.t("messages.base.show"), user %>
                </li>
                <li>
                  <%= link_to I18n.t("messages.base.edit"), edit_user_path(user) %>
                </li>
                <% if user.is_blocked %>
                  <li>
                    <%= link_to I18n.t("messages.base.activate"), "/users/#{user.id}/activate_manually" %>
                  </li>
                <% else %>
                  <li>
                    <%= link_to I18n.t("messages.base.block"), "/users/#{user.id}/block" %>
                  </li>
                <% end %>
                <li>
                  <%= link_to I18n.t("messages.base.delete"), user, :method => :delete %>
                </li>
              </ul>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>