<div class="well">
  <h1><%= I18n.t("messages.users.show.title") %></h1>
  <div class="row-fluid">
    <%= I18n.t "messages.base.username" %>:
    <%= @user.username %>
  </div>
  <div class="row-fluid">
    <%= I18n.t "messages.base.email" %>:
    <%= @user.email %>
  </div>
  <div class="row-fluid">
    <%= I18n.t "messages.base.role" %>:
    <%= @user.get_role_str(nil) %>
  </div>
  <div class="row-fluid">
    <%= I18n.t "messages.base.blocked" %>:
    <%= @user.get_block_state_str(nil) %>
  </div>

  <div class="container row-fluid">
    <%= form_for @user, :url => { :action => "block", :id => @user.id }, :method => :post do |f| %>
      <%= I18n.t("messages.base.block_until") %>
      <span class="datetime">
        <%= f.datetime_select :block_expires_at, :class => "datetime" %>
      </span>
      <div class="btn-group">
        <%= f.submit I18n.t("messages.base.block"), :class => "btn btn-primary" %>
        <% if @user.is_blocked %>
          <%= link_to I18n.t("messages.base.unblock"), "/users/#{@user.id}/unblock", :class => "btn" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>