<div>
  <div class="line">
    <div class="title">
      <%= I18n.t "messages.base.username" %>:
    </div>
    <%= @user.username %>
  </div>
  
  <div class="line">
    <div class="title">
      <%= I18n.t "messages.base.email" %>:
    </div>
    <%= @user.email %>
  </div>
  
  <div class="line">
    <div class="title">
      <%= I18n.t "messages.base.role" %>:
    </div>
    <%= @user.get_role_str %>
  </div>

  <% if users_filter("block", { :user => current_user, :entity => @user } ) %>
    <div class="bordered-form">
      <%= form_for @user, :url => { :action => "block", :id => @user.id }, :method => :post, :html => { :class => "form-horizontal" } do |f| %>
        <fieldset class="control-group">
          <%= label_tag :block_expires_at, I18n.t("messages.base.block_until"), :class => "control-label" %>
          <div class="controls input-append date" data-behaviour="datepicker">
            <%= f.text_field :block_expires_at_date, :value => "", :class => "span2" %><span class="add-on"><i class="icon-th"></i></span>
          </div>
          <div class='input-append bootstrap-timepicker'>
            <%= f.text_field :block_expires_at_time, :class => "input-small", :value => "", "data-behaviour" => "timepicker" %>
            <span class='add-on'><i class='icon-time'></i></span>
          </div> 
        </fieldset>
        <fieldset class="form-actions">
          <%= f.submit I18n.t("messages.base.block"), :class => "btn btn-primary" %>
        </fieldset>
      <% end %>
    </div>
  <% end %>

  <% if users_filter("unblock", { :user => current_user, :entity => @user } ) %>
    <div class="bordered-form">
      <%= form_for @user, :url => { :action => "unblock", :id => @user.id }, :method => :post, :html => { :class => "form-horizontal" } do |f| %>
        <div class="centered">
          <%= @user.get_block_state_str() %>
        </div>
        <fieldset class="form-actions">
          <%= f.submit I18n.t("messages.base.unblock"), :class => "btn btn-primary" %>
        </fieldset>
      <% end %>
    </div>
  <% end %>
</div>