<% if @top_articles.count > 0 %>
  <div class="top-articles bordered">
    <table>
      <tr>
        <td rowspan="<%= @top_articles.count+1 %>" class="image-cell">
          <%
            i_id = 0
            for article1 in @top_articles
          %>
            <%= image_tag article1.get_image_or_default_url(:large), :class => "image image-"+i_id.to_s, :alt => I18n.t("messages.base.image") %>
          <%
              i_id = i_id + 1
            end
          %>
        </td>
        <td class="title title-0" onmouseover="selectTopArticle(0);">
          <%= link_to  @top_articles.first.title, @top_articles.first %>
        </td>
      </tr>
      <%
        a_id = 0
        for article2 in @top_articles
          if article2 != @top_articles.first
      %>
      <tr>
        <td class="title title-<%= a_id %>" onmouseover="selectTopArticle(<%= a_id %>);">
          <%= link_to article2.title, article2 %>
        </td>
      </tr>
      <%
          end
          a_id = a_id + 1
        end
      %>
      <tr>
        <td></td>
      </tr>
    </table>
  </div>
<% end %>

<% if @top_articles.count != @other_articles.count %>
<div class="other-articles">
  <% for id in TOP_ARTICLES_LIMIT..@other_articles.count-1 %>
  <div class="article article-<%= id %>" data-link="<%= article_url(@other_articles[id]) %>">
    <%= image_tag @other_articles[id].get_image_or_default_url(:small), :class => "image", :alt => I18n.t("messages.base.image") %>
    <div class="title"><%= @other_articles[id].title %></div>
    <div class="content"><%= @other_articles[id].annotation %></div>
  </div>
  <% end %>
</div>
<% end %>