<div class="well">
  <%= form_for @wiki, :html => { :class => "form-horizontal"} do |f| %>
    <fieldset class="control-group">
      <%= f.label :title, I18n.t("messages.base.section"), :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :section, :class => "span3" %>
      </div>
    </fieldset>
  
    <fieldset class="control-group">
      <%= f.label :name, I18n.t("messages.base.name"), :class => "control-label" %>
      <div class="controls">
        <%= f.text_field :name, :class => "span3" %>
      </div>
    </fieldset>

    <fieldset class="control-group">
      <%= f.label :name, I18n.t("messages.base.show_in_menu"), :class => "control-label" %>
      <div class="controls">
        <%= f.check_box :show_in_menu %>
      </div>
    </fieldset>
  
    <div>
      <div>
        <%= I18n.t("messages.base.content") %>
      </div>
      <%= f.cktext_area :content, :rows => 10, :class => "input-xlarge" %>
    </div>

    <fieldset class="form-actions">
      <%= f.submit @form_submit, :class => "btn btn-primary" %>
    </fieldset>
  <% end %>
</div>