<div class="well">
  <h1><%= @form_title %></h1>
  <div class="row">
    <div class="span8 offset2">
      <%= form_for @player, :html => { :class => "form-horizontal"} do |f| %>
        <fieldset class="control-group">
          <%= f.label :title, I18n.t("messages.base.first_name"), :class => "control-label" %>
          <div class="controls">
            <%= f.text_field :first_name, :class => "span3" %>
          </div>
        </fieldset>

        <fieldset class="control-group">
          <%= f.label :title, I18n.t("messages.base.second_name"), :class => "control-label" %>
          <div class="controls">
            <%= f.text_field :second_name, :class => "span3" %>
          </div>
        </fieldset>

        <fieldset class="control-group">
          <%= f.label :title, I18n.t("messages.base.nick_name"), :class => "control-label" %>
          <div class="controls">
            <%= f.text_field :nick_name, :class => "span3" %>
          </div>
        </fieldset>

        <fieldset class="control-group">
          <%= f.label :title, I18n.t("messages.base.date_of_birth"), :class => "control-label" %>
          <div class="controls datetime">
            <%=
              f.date_select :birthday,
                  :start_year => Time.now.year-100,
                  :end_year => Time.now.year
            %>
          </div>
        </fieldset>

        <fieldset class="control-group">
          <%= f.label :title, I18n.t("messages.base.team"), :class => "control-label" %>
          <div class="controls">
            <%= f.select :team_id,
                    options_for_select(Team.get_team_options({ :order_by => :name, :empty => true }), @player.team_id),
                    :class => "span3" %>
          </div>
        </fieldset>

        <fieldset class="control-group">
          <%= f.label :title, I18n.t("messages.base.weight"), :class => "control-label" %>
          <div class="controls">
            <%= f.select :weight, MIN_WEIGHT..MAX_WEIGHT, { :class => "span3", :include_blank => true } %>
          </div>
        </fieldset>

        <fieldset class="control-group">
          <%= f.label :title, I18n.t("messages.base.height"), :class => "control-label" %>
          <div class="controls">
            <%= f.select :height, MIN_HEIGHT..MAX_HEIGHT, { :class => "span3", :include_blank => true } %>
          </div>
        </fieldset>

        <fieldset class="control-group">
          <%= f.label :title, I18n.t("messages.base.stick_holding"), :class => "control-label" %>
          <div class="controls">
            <%= f.select :stick_holding, options_for_select([
              [I18n.t("messages.base.left"), STICK_HOLDING_LEFT],
              [I18n.t("messages.base.right"), STICK_HOLDING_RIGHT]
            ], @player.stick_holding), { :class => "span3", :include_blank => true } %>
          </div>
        </fieldset>

        <% if USE_EXTERNAL_LINKS %>
          <fieldset class="control-group">
            <%= f.label :title, I18n.t("messages.base.cfbu_url_data"), :title => I18n.t("messages.base.cfbu_url_data_hint"), :class => "control-label" %>
            <div class="controls">
              <%= f.text_field :cfbu_profile_data, :class => "span3" %>
            </div>
          </fieldset>
        <% end %>
        
        <fieldset class="control-group">
          <%= f.label :title, I18n.t("messages.base.shirt_number"), :class => "control-label" %>
          <div class="controls">
            <%= f.number_field :shirt_number, :class => "span3", :min => 1, :max => 99 %>
          </div>
        </fieldset>
        
        <fieldset class="control-group">
          <%= f.label :title, I18n.t("messages.base.position"), :class => "control-label" %>
          <div class="controls">
            <div>
              <input type="checkbox" name="player_pos[goalkeeper][used]"<%= @player.is_position(POSITION[:goalkeeper]) ? " checked" : "" %> />
              <%= I18n.t("messages.base.positions.long.pos_#{POSITION[:goalkeeper]}") %>
            </div>
            <div>
              <input type="checkbox" name="player_pos[defender][used]"<%= @player.is_position(POSITION[:defender]) ? " checked" : "" %> />
              <%= I18n.t("messages.base.positions.long.pos_#{POSITION[:defender]}") %>
              (
              <input type="checkbox" name="player_pos[defender][side][]"<%= @player.is_side(POSITION[:defender], POSITION_SIDE[:left]) ? " checked" : "" %> value="<%= POSITION_SIDE[:left] %>" />
              <%= I18n.t("messages.base.position_sides.long.side_#{POSITION_SIDE[:left]}") %>
              ,
              <input type="checkbox" name="player_pos[defender][side][]"<%= @player.is_side(POSITION[:defender], POSITION_SIDE[:right]) ? " checked" : "" %> value="<%= POSITION_SIDE[:right] %>" />
              <%= I18n.t("messages.base.position_sides.long.side_#{POSITION_SIDE[:right]}") %>
              )
            </div>
            <div>
              <input type="checkbox" name="player_pos[attacker][used]"<%= @player.is_position(POSITION[:attacker]) ? " checked" : "" %> />
              <%= I18n.t("messages.base.positions.long.pos_#{POSITION[:attacker]}") %>
              (
              <input type="checkbox" name="player_pos[defender][side][]"<%= @player.is_side(POSITION[:attacker], POSITION_SIDE[:left]) ? " checked" : "" %> value="<%= POSITION_SIDE[:left] %>" />
              <%= I18n.t("messages.base.position_sides.long.side_#{POSITION_SIDE[:left]}") %>
              ,
              <input type="checkbox" name="player_pos[defender][side][]"<%= @player.is_side(POSITION[:attacker], POSITION_SIDE[:center]) ? " checked" : "" %> value="<%= POSITION_SIDE[:center] %>" />
              <%= I18n.t("messages.base.position_sides.long.side_#{POSITION_SIDE[:center]}") %>
              ,
              <input type="checkbox" name="player_pos[defender][side][]"<%= @player.is_side(POSITION[:attacker], POSITION_SIDE[:right]) ? " checked" : "" %> value="<%= POSITION_SIDE[:right] %>" />
              <%= I18n.t("messages.base.position_sides.long.side_#{POSITION_SIDE[:right]}") %>
              )
            </div>
          </div>
        </fieldset>

        <fieldset class="control-group">
          <span title="<%= I18n.t("messages.players.form.icon_title") %>">
            <%= f.label :title, I18n.t("messages.base.portrait"), :class => "control-label" %>
          </span>
          <div class="controls">
            <%= f.hidden_field :icon_cache %>
            <%= f.file_field :icon %>
          </div>
        </fieldset>

        <fieldset class="form-actions">
          <%= f.submit @form_submit, :class => "btn btn-primary" %>
          <%= f.submit I18n.t("messages.base.form.reset"), :type => "reset", :class => "btn" %>

          <span class="btn-group">
            <span class="btn" data-toggle="dropdown">
              <%= I18n.t("messages.base.other_actions") %>
            </span>
            <span class="btn dropdown-toggle" data-toggle="dropdown">
              <span class="caret"></span>
            </span>
            <ul class="dropdown-menu">
              <li>
                <%= link_to I18n.t("messages.base.go_to_list"), players_path %>
              </li>
              <li>
                <%= link_to I18n.t("messages.base.go_to_detail"), @player %>
              </li>
              <li>
                <%= link_to I18n.t("messages.base.delete_player"), @player, :method => :delete %>
              </li>
            </ul>
          </span>
        </fieldset>
      <% end %>
    </div>
  </div>
</div>