<!DOCTYPE html>
<html>
  <head>
    <title>TJ Tatran SedlÄany florbal</title>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <% for file in get_additional_styles %>
      <%= stylesheet_link_tag file, :media => "all" %>
    <% end %>
    <%= javascript_include_tag "application" %>
    <% for file in get_additional_scripts %>
      <%= javascript_include_tag file %>
    <% end %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render "templates/menu" %>
    <%= render "templates/login_form" %>
    <div id="page" class="container">
      <div id="page-title">
        <%= I18n.t "messages.titles." + params[:controller] + "." + params[:action] %>
      </div>
      <div class="content">
        <%= render "templates/notes" %>
        <%= render "templates/errors" %>
        <%= render "templates/rightside" %>
        <div id="page-data">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
