<!DOCTYPE html>
<html>
  <head>
    <title>TJ Tatran SedlÄany florbal</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render "templates/menu" %>
    <%= render "templates/login_form" %>
    <div class="container contanier-content">
      <%= yield %>
    </div>
  </body>
</html>
